In [11]:
#1. Import Pandas and Numpy
import pandas as pd 
import numpy as np

In [12]:
#2. Read both the datasets
ld_train=pd.read_csv('loan_data_train.csv')
ld_test=pd.read_csv('loan_data_test.csv')

In [13]:
#3. check the header portion of train data set
ld_train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [14]:
#4. check the header portion of test data set, Interest Rate column is missing in test
ld_test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [15]:
#5.Create Interest Rate Variable in Test set 
ld_test['Interest.Rate']=np.nan

In [16]:
#6. Create a New column representing whether the row coming from train set or test set
ld_train['data']='train'
ld_test['data']='test'

In [17]:
#7.Arrange the column names according to the train data so that they matches
ld_test=ld_test[ld_train.columns]

In [18]:
#8.Concatenate the data frames
ld_all=pd.concat([ld_train,ld_test],axis=0)

In [26]:
#9. check the header portion of the full data set
ld_all.head()

,Amount.Requested,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,fico
0,25000.0,18.49,60 months,debt_consolidation,27.56,VA,MORTGAGE,8606.56,11.0,15210.0,3.0,5 years,train,722.0
1,19750.0,17.27,60 months,debt_consolidation,13.39,NY,MORTGAGE,6737.50,14.0,19070.0,3.0,4 years,train,712.0
2,2100.0,14.33,36 months,major_purchase,3.50,LA,OWN,1000.00,13.0,893.0,1.0,< 1 year,train,692.0
3,28000.0,16.29,36 months,credit_card,19.62,NV,MORTGAGE,7083.33,12.0,38194.0,1.0,10+ years,train,712.0
4,24250.0,12.23,60 months,credit_card,23.79,OH,MORTGAGE,5833.33,6.0,31061.0,2.0,10+ years,train,732.0

In [25]:
#10. Check the data types
ld_all.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
fico                              float64
dtype: object

In [21]:
#11.Drop the Id and Remove amount funded by investors because that variable 
# is coming from future.
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [22]:
# 12. Remove % symbol from Interest rate, Debt to income ratio
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%","")

In [23]:
#13. Convert Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio', 
#'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance to Numeric.
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [24]:
#14. Create two columns with Fico Range and calculate the mean, 
# create that as new fico column.
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)

ld_all['fico']=0.5*(k[0]+k[1])

del ld_all['FICO.Range']

In [27]:
#15. Check the value counts of Employment Length
ld_all['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [28]:
#16. Clean the employment Length Varaible.
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

In [29]:
#17. Convert the employment Length Varaible to Numeric.
ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [34]:
#18. Select all the categorical columns in to separate object
cat_cols=ld_all.select_dtypes(['object']).columns

In [35]:
#19. check the categorical columns
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [36]:
#20. Check that Object, as it has data column in it, drop the data column.
cat_cols=cat_cols[:-1]

In [37]:
#21. check the categorical columns once again
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [38]:
ld_all["Loan.Length"].value_counts()

36 months    1950
60 months     548
.               1
Name: Loan.Length, dtype: int64

In [39]:
#22. Create dummy variables for Loan Length,Loan purpose, Home ownership and
# state columns, make sure that there are not too many dummies created,
#check the frequency and control the dummies based on frequency.
for col in cat_cols:
    freqs=ld_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [40]:
#23. Check the sahape
ld_all.shape

(2500, 51)

In [41]:
#24. Check the missing values 
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [44]:
#25. Impute the missing values with mean
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [45]:
#26. Check the missing values once again
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [47]:
# 27. Separate the train and test datasets
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

G:\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [48]:
#28. delete the ld_all data frame as we created ld_train and ld_test
del ld_all

In [49]:
#29. Import train_test_split
from sklearn.model_selection import train_test_split

In [50]:
#30. Split the train dataset into train1 and train2 datasets
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [51]:
#31. Assign columns to x and  Interest rate as y 
x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [52]:
#32. Import LinearRegression 
from sklearn.linear_model import LinearRegression

In [53]:
#33. assign it to an object
lm=LinearRegression()

In [54]:
#34. Build Linear regression Model
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
#35. find the intercept
lm.intercept_

76.01913622058599

In [56]:
# 36. find the coefficients and check them
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.00015614431012143126),
 ('Debt.To.Income.Ratio', -0.003844240774051657),
 ('Monthly.Income', -2.6406486110081446e-05),
 ('Open.CREDIT.Lines', -0.04022799798362493),
 ('Revolving.CREDIT.Balance', -4.043165672318327e-06),
 ('Inquiries.in.the.Last.6.Months', 0.33676130295645534),
 ('Employment.Length', 0.03473388302212488),
 ('fico', -0.0866930419424462),
 ('Loan.Length_36 months', -3.1425547431253724),
 ('Loan.Purpose_debt_consolidation', -0.47135975236182714),
 ('Loan.Purpose_credit_card', -0.6123429134596106),
 ('Loan.Purpose_other', 0.4462609811879832),
 ('Loan.Purpose_home_improvement', -0.36998297809737474),
 ('Loan.Purpose_major_purchase', -0.0974511983723576),
 ('Loan.Purpose_small_business', 0.06251542143811437),
 ('Loan.Purpose_car', 0.01874891431690434),
 ('Loan.Purpose_wedding', -0.7830520540035694),
 ('Loan.Purpose_medical', -0.42214589469286956),
 ('Loan.Purpose_moving', 1.2768888222135188),
 ('State_CA', -0.2912081686519186),
 ('State_NY', -0.2078418135458603),
 ('State_TX', 0.3841091731465295),
 ('State_FL', 0.004847904465572782),
 ('State_IL', -0.728594651236627),
 ('State_GA', -0.1094949687762519),
 ('State_PA', -0.6344637679429556),
 ('State_NJ', -0.5044859736086542),
 ('State_VA', -0.2704124450086858),
 ('State_MA', 0.010510217191505022),
 ('State_OH', -0.44284021013204156),
 ('State_MD', -0.09859435114848636),
 ('State_NC', -0.3804224871913908),
 ('State_CO', -0.13743161843768928),
 ('State_WA', -0.32628364072969257),
 ('State_CT', 0.3654372106996533),
 ('State_AZ', 0.18311333972877047),
 ('State_MI', -0.23936223962117442),
 ('State_MN', -0.1586370247732586),
 ('State_AL', -0.4030947504696181),
 ('State_MO', -0.5142321949582132),
 ('State_NV', -0.2051772790117708),
 ('State_OR', 0.039027713793427544),
 ('State_SC', -0.058336173623127596),
 ('State_WI', -0.24512064234535885),
 ('State_KY', 0.18705420527433675),
 ('State_LA', -0.1300984046716851),
 ('State_OK', -0.41921256332268136),
 ('Home.Ownership_MORTGAGE', -0.49168102215384735),
 ('Home.Ownership_RENT', -0.23217518504343043)]

In [57]:
#37. create x_train2 without interest rate variable
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [58]:
#38. Predict the interest rate on x_train2
predicted_ir=lm.predict(x_train2)

In [59]:
#39. Import MAE
from sklearn.metrics import mean_absolute_error

In [61]:
#40. calculate the MAE between actual and predicted value
round(mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir),2)

1.63

In [62]:
#41. We know the tentative performance now, lets build the model on entire
#training to make prediction on test/production
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [63]:
#42. Build the model on entire data
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [64]:
#43. Evaluate the performance
test_pred=lm.predict(ld_test)

In [65]:
#44. submit the reults in a .csv file
pd.DataFrame(test_pred).to_csv("D:/mysubmission.csv",index=False)

In [66]:
#45. Import Radge, Lasso and GridSearchCV
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [67]:
#46. select diffrerent penalty parameters
lambdas=np.linspace(1,100,100)

In [68]:
#47. Assign these penalties to params
params={'alpha':lambdas}

In [69]:
#48. Create a ridge model object to pass that into gridsearchCV
model=Ridge(fit_intercept=True)

In [70]:
#49. Build the grid, search the grid
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [51]:
#50. build the model with gridsearch result
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([  1.,   2., ...,  99., 100.])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [52]:
#51. find the best estimator
grid_search.best_estimator_

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [53]:
#52. Predict using the grid search model
test_pred=grid_search.predict(ld_test)

In [54]:
#53. Submit the file
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

In [55]:
#54. extract the best estimators and craete it as ridge model
ridge_model=grid_search.best_estimator_

In [56]:
#55. Fit the ridge model
ridge_model.fit(x_train,y_train)

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [57]:
#56. find the coefficients
list(zip(x_train1.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016714537449332453),
 ('Debt.To.Income.Ratio', -0.001260654425030648),
 ('Monthly.Income', -2.9698511805817483e-05),
 ('Open.CREDIT.Lines', -0.03680978176797282),
 ('Revolving.CREDIT.Balance', -3.002332150243934e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3423775150135503),
 ('Employment.Length', 0.01941860218751676),
 ('fico', -0.08664485391886666),
 ('Loan.Length_36 months', -2.8299762705866183),
 ('Loan.Purpose_debt_consolidation', -0.3704218576828521),
 ('Loan.Purpose_credit_card', -0.4647945472633672),
 ('Loan.Purpose_other', 0.377856651636229),
 ('Loan.Purpose_home_improvement', -0.22927008352909165),
 ('Loan.Purpose_major_purchase', -0.011304507141031149),
 ('Loan.Purpose_small_business', 0.08971483773413975),
 ('Loan.Purpose_car', -0.03045829578170451),
 ('Loan.Purpose_wedding', -0.32871620194253187),
 ('Loan.Purpose_medical', -0.09644409135075822),
 ('Loan.Purpose_moving', 0.4576238471903767),
 ('State_CA', -0.09391793411410639),
 ('State_NY', -0.04399767153928681),
 ('State_TX', 0.4272184777026186),
 ('State_FL', 0.024099029596949477),
 ('State_IL', -0.3475483678305888),
 ('State_GA', -0.08405365767738905),
 ('State_PA', -0.2811640437145749),
 ('State_NJ', -0.20973892538236386),
 ('State_VA', -0.00200898782292419),
 ('State_MA', -0.017505518805417897),
 ('State_OH', -0.13254554214913378),
 ('State_MD', 0.011827292660319193),
 ('State_NC', -0.24367324438879412),
 ('State_CO', 0.09233333151064627),
 ('State_WA', -0.08772672017548841),
 ('State_CT', 0.2486658062436641),
 ('State_AZ', 0.27538268113195447),
 ('State_MI', -0.0037534512535037216),
 ('State_MN', -0.042971381056987445),
 ('State_AL', 0.01330401910465274),
 ('State_MO', -0.12088507532801814),
 ('State_NV', -0.012970229768661906),
 ('State_OR', 0.044751952152544655),
 ('State_SC', 0.008945589985710831),
 ('State_WI', 0.06539120347076822),
 ('State_KY', 0.06929959383324014),
 ('State_LA', 0.1086090351294614),
 ('State_KS', 0.1249259912267114),
 ('Home.Ownership_MORTGAGE', -0.3039747142080255),
 ('Home.Ownership_RENT', -0.09558753919624459)]

In [63]:
#57. Try with different Penalty parameters with Lasso
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [64]:
#58. Try gird search
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [66]:
#59. apply the grid search to build the model
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([ 1.     ,  1.09091, ...,  9.90909, 10.     ])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [67]:
#60. Find the best estimators
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [68]:
#61.refine the penalty parameters
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}

In [69]:
#62. try the gridsearch once agin for optimal estimators
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([1.00000e-03, 2.11919e-02, ..., 1.97981e+00, 2.00000e+00])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_absolute_error', verbose=0)

In [70]:
# 63. find the best estimators
grid_search.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
   max_iter=1000, normalize=False, positive=False, precompute=False,
   random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [71]:
#64. Pass the best estimators to lasso model
lasso_model=grid_search.best_estimator_

In [72]:
#65. Build the Lasso model
lasso_model.fit(x_train,y_train)

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
   max_iter=1000, normalize=False, positive=False, precompute=False,
   random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [73]:
#66. Find the coefficients
list(zip(x_train.columns,lasso_model.coef_))

[('Amount.Requested', 0.00016025576388069374),
 ('Debt.To.Income.Ratio', -0.0009940455335086431),
 ('Monthly.Income', -2.7161150694601474e-05),
 ('Open.CREDIT.Lines', -0.03776066942268258),
 ('Revolving.CREDIT.Balance', -3.2291582902347866e-06),
 ('Inquiries.in.the.Last.6.Months', 0.32734647665538585),
 ('Employment.Length', 0.011883001638602755),
 ('fico', -0.08647817945138424),
 ('Loan.Length_36 months', -3.0098932744846625),
 ('Loan.Purpose_debt_consolidation', -0.1780182230425123),
 ('Loan.Purpose_credit_card', -0.22053269213383622),
 ('Loan.Purpose_other', 0.3196217853383159),
 ('Loan.Purpose_home_improvement', -0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', 0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', -0.0),
 ('Loan.Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.2592516325019152),
 ('State_FL', 0.0),
 ('State_IL', -0.0),
 ('State_GA', -0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', 0.0),
 ('State_OH', -0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', 0.0),
 ('State_WA', -0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', 0.0),
 ('State_MN', -0.0),
 ('State_AL', 0.0),
 ('State_MO', -0.0),
 ('State_NV', 0.0),
 ('State_OR', 0.0),
 ('State_SC', 0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_KS', 0.0),
 ('Home.Ownership_MORTGAGE', -0.15598777750113385),
 ('Home.Ownership_RENT', 0.0)]